    <section id="section-works" class="section appear clearfix">
        <div class="container">

            <div class="row mar-bot40">
                <div class="col-md-offset-3 col-md-6">
                    <div class="section-header">
                        <h2 class="section-heading animated" data-animation="bounceInUp">Cursos Tecnológicos</h2>
                        <p>A UNIP desenvolveu os cursos superiores de tecnologia de menor duração abaixo (dois a três anos) para melhor atender as necessidades de seus futuros alunos:</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <nav id="filter" class="col-md-12 text-center">
                    <ul>
                        <li><a href="#" class="current btn-theme btn-small" data-filter="*">Todos</a></li>
                        <li><a href="#" class="btn-theme btn-small" data-filter=".ads">Análise de Sistemas</a></li>
                        <li><a href="#" class="btn-theme btn-small" data-filter=".gti">Gestão de T.I.</a></li>
                        <li><a href="#" class="btn-theme btn-small" data-filter=".jds">Jogos Digitais</a></li>
                        <li><a href="#" class="btn-theme btn-small" data-filter=".rcs">Redes Computadores</a></li>
                    </ul>
                </nav>
                <div class="col-md-12">
                    <div class="row">
                        <div class="portfolio-items isotopeWrapper clearfix" id="3">

                            <article class="col-md-4 isotopeItem ads">
                                <div class="portfolio-item">
                                    <img src="~/resources/img/Cursos/info_analise_desenv_sistemas.jpg" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <h5><a href="#">Projetar, documentar, especificar, implementar, testar, implantar e manter sistemas computacionais de informação.</a></h5>
                                            <a href="~/resources/img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-md-4 isotopeItem gti">
                                <div class="portfolio-item">
                                    <img src="~/resources/img/Cursos/exa_sist_informacao.jpg" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <h5><a href="#">Definir o Sistema de Informação a ser utilizado na Gestão dos Negócios de uma empresa, sempre buscando ótimo desempenho do custo/benefício.</a></h5>
                                            <a href="~/resources/img/portfolio/img2.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>


                            <article class="col-md-4 isotopeItem jds">
                                <div class="portfolio-item">
                                    <img src="~/resources/img/portfolio/img3.jpg" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <h5><a href="#">Criação de jogos digitais e gestão de projetos de sistemas, de roteiros e modelagem de personagens virtuais e na interação com banco de dados</a></h5>
                                            <a href="~/resources/img/Cursos/info_jogos_digitais.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-md-4 isotopeItem rcs">
                                <div class="portfolio-item">
                                    <img src="~/resources/img/Cursos/gestao_gerenc_redes.jpg" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <h5><a href="#">Desenvolver e implantar projetos, configurar e gerenciar ambientes de redes para otimizar o funcionamento de uma empresa e processamentos da comunicação de dados.</a></h5>
                                            <a href="~/resources/img/portfolio/img4.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                        </div>

                    </div>


                </div>
            </div>

        </div>
    </section>
