@{
    ViewData["Title"] = "Home Page";
}
<div class="slider text-center">
    <img src="~/resources/img/umdianocampus-img-principal-2.png" alt="" />
</div>
<div id="main-content">
    <div class="container">
        <div class="row">
            <div class="big-box">
                <div class="col-lg-12">
                    <div class="col-md-4">
                        <div class="box-bg">
                            <div class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.9s">
                                <div class="align-center">
                                    <i class="fa fa-camera-retro fa-5x"></i>
                                    <h4 class="text-bold">INGRESSE NO FIES</h4>
                                    <p>
                                        Inscreva-se no FIES e financie seu curso na UNIP.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-bg">
                            <div class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.6s">
                                <div class="align-center">
                                    <i class="fa fa-shield fa-5x"></i>
                                    <h4 class="text-bold">USE A NOTA DO ENEM.</h4>
                                    <p>
                                        E venha estudar com desconto de até 100%.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-bg">
                            <div class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                                <div class="align-center">
                                    <i class="fa fa-bookmark-o fa-5x"></i>
                                    <h4 class="text-bold">BOLSAS E DESCONTO</h4>
                                    <p>
                                        Prouni, Programa Escola da Família, Iniciação Científica e muito mais.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>