@model UnipDLL.BLL.Curso

    <br />
    <br />
    <br />
    <br />

    <form method="post">
        <div class="form-group">
            <label asp-for="Nome"></label>
            <input asp-for="Nome" class="form-control" placeholder="Digite o nome do curso">
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Endereco"></label>
            <input asp-for="Endereco" class="form-control" placeholder="Digite o nendereço">
            <span asp-validation-for="Endereco" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button> <a asp-action="Index" class="btn btn-info">Voltar</a>
    </form>